body{
    background-color: cornsilk;
    font-family: 'Georgia', "Times New Roman", serif;
}
.content-wrapper{
    padding: 10px 30px;
}
p{
    /*text-align: justify;*/
    text-align: center;
}
h1{
    text-align: center;
}
h1, h2{
    font-weight: 400;
}
